
<div>
  <p><span><img src="images/sacola.svg" width="50px" height="50px" alt="sacola"/></span>SACOLA</p>
</div>
<ul>
  {{#each cart.items as |item|}}
  <li {{action "removeItem" item}}>
    <p>{{item.title}}</p>
    <p>{{item.description}}</p>
    <p>Quantidade: {{item.qty}}</p>
    <p class="pull-right price-contents">{{format-currency item.currencyFormat item.price}}</p>

  </li>
  {{/each}}
</ul>

{{#if cart.bought}}
  <div class="alert alert-success" role="alert">Compra efetuada com sucesso!</div>
{{/if}}

{{#if cart.isEmpty}}
 <p class="text-center"> Sacola vazia. </p>
{{else}}
 <button type="button" class="btn btn-primary btn-lg btn-block" {{action "buyCart" cart}}>COMPRAR</button>
 {{/if}}
