<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">

      </button>
      {{#link-to 'index' class="navbar-brand"}}NS Test{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav pull-right ">
        {{#link-to 'cart' tagName="li"}}<a href=""><img class="shopping-bag" src="images/sacola.svg"/> <span class="cart-count">{{cart.totals}}</span></a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{yield}}