<article>
  <header>
    <img src="images/{{product.id}}.jpg" {{action "add" product}}/>
  </header>
  <h1>{{product.title}}</h1>
  <footer>
    <hr/>
    <p>{{format-currency product.currencyFormat product.price}}</p>
  </footer>
</article>
