@import "bootstrap";

// ** Colors
$yellow:  #dab800;
$black: #222;
$grey: #999999;
// ** General
body { padding-top: 70px; position: relative }

// ** Cart
.cart {
  background-color: $black;
  padding: 20px;
  border-radius: 20px;
}
.cart-overlay {
  color: #fff;
  div:nth-child(1) {
    p {
      span {
        vertical-align: super;
      }
      font-size: 22px;
      font-weight: bold;
    }
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #000;
    border: 1px solid #000;
  }

  .btn-primary:hover {
    opacity: 0.5
  }

  ul {
    list-style-type: none;

    li:nth-child(1) {
      border-top: 1px solid;
    }

    li:hover {
      background-color: #000;
      border: 1px solid $black;
      p {
        text-decoration: line-through;
      }

    }

    li {
      cursor: pointer;
      padding:  10px;

      p:nth-child(1) {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
      }

      p {
        color: $grey;
      }

      p:nth-child(4) {
        margin-right: 2px;
        margin-top: -30px;
      }

      .price-contents {
        font-weight: bold;
        color: $yellow;
      }
      width: 80%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid;
    }
  }
}

// ** Navbar
.nav-wrapper {
  position: relative;
  z-index: 98;
}
.navbar-brand {
  padding-top: 20px;
}
.shopping-bag {
  width: 30px;
  height: 30px;
}

.cart-count {
  border-radius: 100%;
  background-color: $yellow;
  color: #fff;
  padding: 0px 6px;
  top: 30px;
  left: 30px;
  font-weight: bold;
  position: absolute;
  margin: 0;
  font-size: 0.8em;
}

// ** Product Item
.product-item:hover {
  opacity: 0.5;
}
.product-item {

  img {
    display: block;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
  }

  h1 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  footer {
    margin: 0 auto;
    width: 120px;
  }

  hr {
    width: 15px;
    height: 2px;
    background-color: $yellow;
    margin: 0 auto;
    padding: 0;
  }

  p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  h1, p {
    text-align: center;
  }
}
